.navbar-container {
  background-color: black;
  opacity: 0.7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.home-button,
.navbar-home {
  color: white;
}

.home-button:hover {
  color: rgb(199, 195, 195);
}
.navbar-title {
  cursor: pointer;
  justify-content: center;
  color: #F5F7FA;
  font-weight: 700;
  font-size: 17px;
}
.navbar-subtitle {
  color: #F5F7FA;
  cursor: pointer;
}

.navbar-title:hover{
  color: #F5F7FA;
  text-decoration-color:  white !important;
}

.navbar-subtitle:hover{
  color: rgb(199, 195, 195);
}

.navbar-subtitle {
  font-size: 0.9rem;
}


.sidebar-item {
  display: flex;
  justify-content: center;
  margin: 8px 0px;

}

.sidebar-item__subtitle {
  display: flex;
  justify-content: center;
  margin: 1px 0px;
}